<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <div class="media-left">
        <img
          [src]="contact?.imageUrl "
          [alt]=""
          class=""
          style="height: 120px;  object-fit: cover"
        />
      </div>
    </div>
    <div class="pull-right btn-toolbar">
        <div class="btn-group">
      <a class="btn btn-primary" href="#">Edit</a>
      </div>
      <div class="btn-group">
      <a class="btn btn-danger" href="#" style="margin-left: 5px;">Delete</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <p><strong>Email: </strong>{{ contact?.email }}  </p>
        <p><strong>Phone:</strong>{{contact?.phone }}</p>
      </div>
    </div>
  </div>
</div>
