<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default" style="margin-left: 20px">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="margin-left: 20px; font-size: 32px;">Contacts</h3>
        <a class="btn btn-success pull-right" href="#">New Contact</a>
      </div>
      <div class="panel-body">
    <cms-contact-item
       *ngFor="let contactElement of contacts"
       [contact]="contactElement"
       (contactSelected)="selectedContact(contactElement)"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
